.container {
  position: relative;
  overflow: hidden;
}

.container .image-slider {
  display: flex;
  overflow-x: scroll;
  /*safari chrome 流畅滑动*/
  -webkit-overflow-scrolling: touch;
  /*对scroll加过渡动画 safari 不支持*/
  scroll-behavior: smooth;
  /*图片滑动一半时的处理*/
  scroll-snap-type:x mandatory;

}

.nav-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  color: white;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.nav-section .slide-button {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: white;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;
}

.imageItem{
  width: 100%;
  height: 100%;
  /*自动截取图片像素*/
  object-fit: cover;
  /*图片滑动一半时的处理*/
  scroll-snap-align: start;
}

.nav-section .slide-button-select{
  background-color: red;
}
