<app-scrollable-tab
  [data]="topMenu"
  [backgroundColor] = "'red'"
  [activeColor] = "'white'"
  [normalColor] = "'green'"
  indicatorColor = "lightGreen"
  (tabSelected) = "handleTabSelected($event)"
><div>hello</div></app-scrollable-tab>
<app-image-slider [sliders]="imageSliders"></app-image-slider>
<app-horizontal-grid [(username)] = "username">
  <div class="grid-item" appGridItem *ngFor="let item of channels">
    <img [src]="item.icon" alt="" [appGridItemImage]="'2rem'" [fitMod]="'cover'">
    <span appGridItemTitle>{{item.title}}</span>
  </div>
</app-horizontal-grid>
