<p>home-detail works!</p>
<!--<div *ngIf="selectedTabLink === 'hot' else other">-->
<app-image-slider [sliders]="imageSliders"></app-image-slider>
  <app-horizontal-grid [(username)] = "username">
    <div class="grid-item" appGridItem *ngFor="let item of channels">
      <img [src]="item.icon" alt="" [appGridItemImage]="'2rem'" [fitMod]="'cover'">
      <span appGridItemTitle>{{item.title}}</span>
    </div>
  </app-horizontal-grid>
<!--</div>-->
<!--<ng-template #other>-->
  <!--Other works-->
<!--</ng-template>-->
