.topNavBar {
  display: flex;
  overflow-x:scroll;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  /*border: 1px red solid;*/
}

.topNavItem{
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  /*margin: 0 20px;*/
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.active{
  color: red;
}

.topNavItem > a {
  text-decoration: none;
  /*cursor: pointer !important;*/
}
::-webkit-scrollbar{
display: none;
}

.indicator{
  height:2px;
  width:2rem;
  margin-top: 2px;
}
